{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/main_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#accordion" ).accordion({
        collapsible: true,
        active: false,
    });
    } );
    $(document).ready(function() {
        $('a#button').click(function() {
    $('#button-svg').toggleClass("down"); $('#button').toggleClass("down")});
    });
    </script>
</head>
{% endblock %}
<body>
    <nav>
        <div class="container nav-container">
            <div class="nav-logo-container">
                <a href="{% url 'main_view' %}" class="nav-logo-link"><img class="nav-logo" src="{% static 'images/nav-logo.png' %}" alt="logo"></a>
                <a href="{% url 'main_view' %}" class="nav-logo-name-link">Hardware house</a>
            </div>
            <div class="nav-links">
                {% get_available_languages as LANGUAGES %}
                {% for lang in LANGUAGES %}
                {% if LANGUAGE_CODE == lang.0 %}
                {{lang.1}} ({{lang.0}})
                {% else %}
                <a href="{% url 'set_language' %}?l={{lang.0}}" class="nav-links-item nav-links-language">{{lang.1}} ({{lang.0}})</a>
                {% endif %}
                {% endfor %}
                {% if user.is_authenticated %}
                    <a href="{% url 'basket_detail_view' %}" class="nav-links-item">{% trans 'Корзина' %}</a>
                {% endif %}
                {% if user.is_anonymous %}
                    <a href="{% url 'login' %}" class="nav-links-item">{% trans 'Войти' %}</a>
                    <a href="{% url 'register' %}" class="nav-links-item">{% trans 'Регистрация' %}</a>
                {% else %}
                    <a href="{% url 'account' %}" class="nav-links-item">{{ user.username }}</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block afternav %}
    <section class="hero">
        <div class="container hero-container" style="background-image: url({% static 'images/hero-background.webp' %});">
            <div class="hero-info">
                <h1 class="hero-info-header">{{ videocards_promo.last.manufacturer }} {{ videocards_promo.last.name }}</h1>
                <p class="hero-info-text">{{ videocards_promo.last.promo_note }}</p>
                <div class="hero-info-footer">
                    <a href="{%  url 'videocard_detail' videocards_promo.last.id %}" class="hero-info-btn">{% trans 'Купить сейчас' %}</a>
                    <div class="hero-info-price">{{ videocards_promo.last.price }} USD</div>
                </div>
            </div>
            {% if videocards_promo.last.image %}
                <img class="hero-img" src="{{ videocards_promo.last.image_big.url }}" alt="">
            {% endif %}
        </div>
    </section>
    <section class="popular">
        <div class="container popular-container">
            <h1 class="popular-header">{% trans 'Популярные модели' %}</h1>
            <div class="popular-content-positions-block">
                <div class="popular-content">
                    <div class="popular-content-positions">
                        {% for videocard in videocards.reverse|slice:':4' %}
                            <a href="{% url 'videocard_detail' videocard.id %}" class="popular-content-positions-item">
                                {% if videocard.image %}
                                    <img src='{{ videocard.image.url }}' alt="videocard" class="popular-content-positions-item-img">
                                    {% else %}
                                    <div class="popular-content-positions-item-img">{% trans 'Нет изображения' %}</div>
                                {% endif %}
                                <div class="popular-content-positions-item-footer">
                                    <p class="popular-content-positions-item-footer-info">{{ videocard.manufacturer }} {{ videocard.name }}</p>
                                    <div class="popular-content-positions-item-footer-link">
                                        <p class="popular-content-positions-item-footer-link-text">{% trans 'купить за' %}</p>
                                        <p class="popular-content-positions-item-footer-link-price">{{ videocard.price }} USD</p>
                                    </div>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    <div class="popular-extended" id="accordion">
                        <a href="#" class="popular-content-btn popular-extended-btn" id="button">
                            <svg class="popular-content-btn-icon" id="button-svg" width="46" height="33" viewBox="0 0 46 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M26 3C26 1.34315 24.6569 0 23 0C21.3431 0 20 1.34315 20 3H26ZM20.8787 32.1213C22.0503 33.2929 23.9497 33.2929 25.1213 32.1213L44.2132 13.0294C45.3848 11.8579 45.3848 9.95837 44.2132 8.7868C43.0416 7.61522 41.1421 7.61522 39.9706 8.7868L23 25.7574L6.02944 8.7868C4.85786 7.61522 2.95837 7.61522 1.7868 8.7868C0.615223 9.95837 0.615223 11.8579 1.7868 13.0294L20.8787 32.1213ZM20 3V30H26V3H20Z" fill="#F1F1F1"/>
                            </svg>
                        </a>
                        <div class="popular-content-positions popular-extended-content">
                            <div class="popular-extended-content-links">
                                <a href="{% url 'videocard_sorted' %}" class="filter-btn btn-black">{% trans 'Фильтровать товары' %}</a>
                            </div>
                            {% for videocard in videocards.reverse|slice:'4:' %}
                               <a href="{% url 'videocard_detail' videocard.id %}" class="popular-content-positions-item popular-extended-content-positions-item">
                                    {% if videocard.image %}
                                        <img src={{ videocard.image.url }} alt="videocard" class="popular-content-positions-item-img">
                                        {% else %}
                                        <div class="popular-content-positions-item-img">{% trans 'Нет изображения' %}</div>
                                    {% endif %}
                                    <div class="popular-content-positions-item-footer">
                                        <p class="popular-content-positions-item-footer-info">{{ videocard.manufacturer }} {{ videocard.name }}</p>
                                        <div class="popular-content-positions-item-footer-link">
                                            <p class="popular-content-positions-item-footer-link-text">{% trans 'купить за' %}</p>
                                            <p class="popular-content-positions-item-footer-link-price">{{ videocard.price }} USD</p>
                                        </div>
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% if user.is_superuser %}
                    <a href="{% url 'videocard_create' %}" class="popular-content-positions-block-create btn-black">Добавить товар</a>
                {% endif %}
            </div>
        </div>
    </section>
    {% endblock %}
</body>
</html>