{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles/common_styles.css' %}">
        <link rel="stylesheet" href="{% static 'styles/videocard_create_styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    </head>
{% endblock head %}
<body>
    {% block afternav %}
        <section class="create">
            <div class="create-container container">
                <h1 class="create-header">{% trans 'Добавить видеокарту' %}</h1>
                <form action="" method="post" class="create-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="create-form-inputs">
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Название видеокарты:' %}</p>
                            {{ form.name }}
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Изображение:' %}</p>
                            {{ form.image }}
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Производитель:' %}</p>
                            {{ form.manufacturer }}
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Вендор:' %}</p>
                            {{ form.vendor }}
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Большое изображение:' %}</p>
                            {{ form.image_big }}
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Модель видеокарты:' %}</p>
                            {{ form.info }}
                            <a href="{% url 'videocard_info_create' %}" class="create-form-input-model-btn btn-black">{% trans 'Добавить модель' %}</a>
                        </div>
                        <div class="create-form-input">
                            <p class="form-input-text">{% trans 'Цена:' %}</p>
                            {{ form.price }}
                            <div style="display: inline-block">USD</div>
                        </div>

                    </div>
                    <button class="create-form-btn btn-black">{% trans 'Добавить' %}</button>
                </form>
            </div>
        </section>
    {% endblock afternav %}
</body>
</html>