{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/videocards_sorted_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
{% block afternav %}
    <section class="content">
        <div class="content-container container">
            <div class="content-filters">
                <p class="content-filters-text">{% trans 'Отсортировать по' %}:</p>
                <form class="content-filters-form" method="post" action="">
                    {% csrf_token %}
                    <select name="parameter" id="id_parameter">
                        <option value="1">{% trans 'Цена по возрастанию' %}</option>
                        <option value="2">{% trans 'Цена по убыванию' %}</option>
                    </select>
                    <input type="text" name="search" class="form-input input-gray" placeholder="{% trans 'Поиск' %}" maxlength="30" id="id_search">
                    <button class="content-filters-form-btn btn btn-black">{% trans 'Применить' %}</button>
                </form>
            </div>
            <div class="content-items">
                {% for videocard in videocards %}
                    <a href="{% url 'videocard_detail' videocard.id %}" class="popular-content-positions-item">
                        {% if videocard.image %}
                            <img src='{{ videocard.image.url }}' alt="videocard" class="popular-content-positions-item-img">
                            {% else %}
                            <div class="popular-content-positions-item-img">{% trans 'Нет изображения' %}</div>
                        {% endif %}
                        <div class="popular-content-positions-item-footer">
                            <p class="popular-content-positions-item-footer-info">{{ videocard.manufacturer }} {{ videocard.name }}</p>
                            <div class="popular-content-positions-item-footer-link">
                                <p class="popular-content-positions-item-footer-link-text">{% trans 'купить за' %}</p>
                                <p class="popular-content-positions-item-footer-link-price">{{ videocard.price }} USD</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock afternav %}
</body>
</html>