{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/videocard_update_styles.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    </head>
{% endblock head %}
<body>
    {% block afternav %}
        <section class="update">
            <div class="update-container container">
                <h1 class="update-header">{% trans 'Изменить данные видеокарты' %}</h1>
                <form action="" method="post" class="update-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="update-form-inputs">
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Название видеокарты:' %}</p>
                            {{ form.name }}
                        </div>
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Изображение:' %}</p>
                            {{ form.image }}
                        </div>
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Производитель:' %}</p>
                            {{ form.manufacturer }}
                        </div>
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Вендор:' %}</p>
                            {{ form.vendor }}
                        </div>
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Большое изображение:' %}</p>
                            {{ form.image_big }}
                        </div>
                        <div class="update-form-input">
                            <p class="form-input-text">{% trans 'Модель видеокарты:' %}</p>
                            {{ form.info }}
                        </div>

                    </div>
                    <button class="update-form-btn btn-black">{% trans 'Изменить' %}</button>
                </form>
            </div>
        </section>

    {% endblock afternav %}
</body>
</html>