{% extends 'main.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/account_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
{% block afternav %}
<section class="account">
    <div class="container account-container">
        <h1 class="account-header">Профиль</h1>
        <div class="account-content">
            <div class="account-content-item">
                <div class="account-content-item-left">Имя пользователя</div>
                <div class="account-content-item-right">{{ user.username }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Email</div>
                <div class="account-content-item-right">{{ user.email }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Телефон</div>
                <div class="account-content-item-right">{{ user.profile.phone }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Имя</div>
                <div class="account-content-item-right">{{ user.first_name }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Фамилия</div>
                <div class="account-content-item-right">{{ user.last_name }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Город</div>
                <div class="account-content-item-right">{{ user.profile.city }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Улица</div>
                <div class="account-content-item-right">{{ user.profile.street }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Корпус</div>
                <div class="account-content-item-right">{{ user.profile.housing }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Дом</div>
                <div class="account-content-item-right">{% if user.profile.house %}{{ user.profile.house }}{% else %}{% endif %} </div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Квартира</div>
                <div class="account-content-item-right">{% if user.profile.apartment %}{{ user.profile.apartment }}{% else %}{% endif %}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Тип скидки</div>
                <div class="account-content-item-right">{{ user.profile.discount }}</div>
            </div>
        </div>
        <div class="account-footer">
            <a href="{% url 'account_edit' %}" class="account-btn btn-black">Изменить профиль</a>
            <a href="{% url 'logout' %}" class="account-btn btn-black">Выйти из профиля</a>
        </div>
    </div>
</section>
{% endblock afternav %}
</body>
</html>