{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/account_edit_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
{% block afternav %}
<section class="account">
    <form action="" method="post" class="container account-container">
        {% csrf_token %}
        <h1 class="account-header">{% trans 'Редактирование профиля' %}</h1>
        <div class="account-content">
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Имя пользователя' %}</div>
                <input type="text" value="{{ user.username }}" name="username" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Имя пользователя' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Email</div>
                <input type="text" value="{{ user.email }}" name="email" class="form-input account-content-item-right input-gray" placeholder="Email" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Телефон' %}</div>
                <input type="text" value="{{ user.profile.phone }}" name="phone" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Телефон' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Имя' %}</div>
                <input type="text" value="{{ user.first_name }}" name="first_name" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Имя' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Фамилия' %}</div>
                <input type="text" value="{{ user.last_name }}" name="last_name" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Фамилия' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Город' %}</div>
                <input type="text" value="{{ user.profile.city }}" name="city" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Город' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Улица' %}</div>
                <input type="text" value="{{ user.profile.street }}" name="street" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Улица' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Корпус' %}</div>
                <input type="text" value="{{ user.profile.housing }}" name="housing" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Корпус' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Дом' %}</div>
                <input type="text" value="{% if user.profile.house %}{{ user.profile.house }}{% else %}{% endif %}" name="house" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Дом' %}" required="" id="id_username">
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Квартира' %}</div>
                <input type="text" value="{% if user.profile.apartment %}{{ user.profile.apartment }}{% else %}{% endif %}" name="apartment" class="form-input account-content-item-right input-gray" placeholder="{% trans 'Квартира' %}" required="" id="id_username">
            </div>
        </div>
        <div class="account-footer">
            <button class="account-btn btn-black">{% trans 'Подтвердить' %}</button>
        </div>
    </form>
</section>
{% endblock afternav %}
</body>
</html>