{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>{% trans 'Аккаунт' %} {{ user.username }}</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/account_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
{% block afternav %}
<section class="account">
    <div class="container account-container">
        <h1 class="account-header">{% trans 'Профиль' %}</h1>
        <div class="account-content">
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Имя пользователя' %}</div>
                <div class="account-content-item-right">{{ user.username }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">Email</div>
                <div class="account-content-item-right">{{ user.email }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Телефон' %}</div>
                <div class="account-content-item-right">{{ user.profile.phone }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Имя' %}</div>
                <div class="account-content-item-right">{{ user.first_name }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Фамилия' %}</div>
                <div class="account-content-item-right">{{ user.last_name }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Город' %}</div>
                <div class="account-content-item-right">{{ user.profile.city }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Улица' %}</div>
                <div class="account-content-item-right">{{ user.profile.street }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Корпус' %}</div>
                <div class="account-content-item-right">{{ user.profile.housing }}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Дом' %}</div>
                <div class="account-content-item-right">{% if user.profile.house %}{{ user.profile.house }}{% else %}{% endif %} </div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Квартира' %}</div>
                <div class="account-content-item-right">{% if user.profile.apartment %}{{ user.profile.apartment }}{% else %}{% endif %}</div>
            </div>
            <div class="account-content-item">
                <div class="account-content-item-left">{% trans 'Тип скидки' %}</div>
                <div class="account-content-item-right">{{ user.profile.discount }}</div>
            </div>
        </div>
        <div class="account-footer">
            <a href="{% url 'account_edit' %}" class="account-btn btn-black">{% trans 'Изменить профиль' %}</a>
            <a href="{% url 'logout' %}" class="account-btn btn-black">{% trans 'Выйти из профиля' %}</a>
        </div>
    </div>
</section>
{% endblock afternav %}
</body>
</html>