{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/login_style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% endblock head %}
<body>
{% block afternav %}
    <section class="signup">
        <div class="container signup-container">
            <h1 class="signup-header">{% trans 'Вход' %}</h1>
            {% if message %}
                <div class="login-error">{{ message }}</div>
            {% endif %}
            <form action="" method="post" class="signup-form">
                {% csrf_token %}
                <div class="signup-form-content">
                   {% for input in form %}
                       {{ input }}
                    {% endfor %}
                </div>
                <button class="signup-btn">{% trans 'Войти' %}</button>
            </form>
        </div>
    </section>
{% endblock afternav %}
</body>
</html>