

.form-container {
    width: 1340px;
    height: 700px;
    background: linear-gradient(308.47deg, #BB0000 34.38%, #0B0B0B 73.49%);
    border-radius: 32px;
    padding: 33px 57px 36px 57px;
    display: flex;
    justify-content: space-between;
}


.form_header {
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #F1F1F1;
    margin-bottom: 36px;
}

.form-items {
    width: 690px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-item:not(:last-child) {
    margin-bottom: 18px;
}

.form-item-left {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #F1F1F1;
}

.form-input {
    width: 425px;
    height: 50px;
    background: #D3D3D3;
    border-radius: 16px;
    border: 0;
    padding-left: 20px;
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
}

.form-input::placeholder {
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    color: #3A3232;
}


.form-right{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.form-right-sum {
    width: 425px;
    height: 50px;
    background: #D3D3D3;
    border-radius: 16px;
    font-weight: 600;
    font-size: 25px;
    line-height: 43px;
    display: flex;
    align-items: center;
    color: #0D0D0D;
    margin-bottom: 18px;
    padding-left: 15px;
}

.form-right-btn {
    width: 200px;
    height: 64px;
    background: #0D0D0D;
    border-radius: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F1F1F1;
}

