
.signup {
    display: flex;
    justify-content: center;
    height: 650px;
}

.signup-container {
    display: flex;
    width: 901px;
    background: linear-gradient(308.47deg, #BB0000 34.38%, #0B0B0B 73.49%);
    border-radius: 32px;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 13px;
    padding-bottom: 33px;
}

.signup-header {
    display: inline-block;
    height: 95px;
    width: 901px;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    color: #F1F1F1;
    text-align: center;
    margin-bottom: 74px;
    
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form-content {
    display: flex;
    flex-direction: column;
}

.form-input {
    width: 403px;
    height: 70px;
    background: #D3D3D3;
    border-radius: 16px;
    margin-bottom: 72px;
    padding-top: 5px;
    padding-left: 20px;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    color: #0D0D0D;
}

.form-input::placeholder {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #3A3232;
}


.signup-btn {
    width: 227px;
    height: 64px;
    background: #0D0D0D;
    border-radius: 16px;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    color: #F1F1F1;
}