@keyframes opacity_anim {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes hero_info {
  0% {transform: translateX(-20%);}
  100% {transform: translateY(0);}
}

.hero {
    margin-bottom: 80px;
}

.hero-container {
    width: 1550px;
    height: 620px;
    z-index: 0;
}

.hero-info {
    padding-left: 80px;
    padding-top: 100px;
    width: 860px;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    opacity: 0;
    transform: translateX(-20%);
    animation: hero_info 0.5s forwards, opacity_anim 0.7s ease-in forwards;

}

.hero-info-header {
    display: inline-block;
    width: 650px;
    color: #f1f1f1;
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 23px;
    line-height: 85px;

}

.hero-info-text {
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 90px;
    line-height: 29px;
}

.hero-info-footer {
    display: inline-flex;
    align-items: flex-end;
}

.hero-info-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
    font-size: 24px;
    font-weight: 700;
    background-color: #DE1616;
    border-radius: 16px;
    height: 78px;
    width: 280px;
    margin-right: 60px;
    transition-property: background-color;
    transition-duration: 200ms;
}

.hero-info-btn:hover {
    background-color: #9F2525;
}

.hero-info-price{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 59px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: 800;
    border-bottom: 7px solid #DE1616;
    border-right: 7px solid #DE1616;
    border-bottom-right-radius: 16px;
}

.hero-img {
    position: absolute;
    width: 860px;
    left: 740px;
    top: 230px;
    opacity: 0;
    animation: opacity_anim 1s forwards;
    z-index: -1;
}

.popular {
    margin-bottom: 100px;
    height: 796px;
}

.popular-container {
    padding-top: 33px;
    background: linear-gradient(325.47deg, #BB0000 34.38%, #0B0B0B 73.49%);
}

.popular-header {
    padding-left: 160px;
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 80px;
    line-height: 98px;
    color: #f1f1f1;
}

.popular-content-positions-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1550px;
}

.popular-content-positions-block-create {
    margin-top: 10px;
    width: 207px;
    height: 35px;
    border-radius: 12px;
    font-size: 20px;
    line-height: 20px;
}

.popular-content {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1430px;
    height: 564px;
    background: linear-gradient(97.52deg, rgba(227, 34, 34, 0) 28.45%, rgba(14, 0, 0, 0.77) 86.37%);
    background-blend-mode: darken;
    border-radius: 15px;
    padding-top: 44px;
}


.popular-content-positions {
    display: inline-flex;
    width: 1230px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.popular-content-positions-item {
    display: inline-block;
    width: 274px;
    height: 374px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.31) 0%, rgba(100, 100, 100, 0.31) 100%);
    border-radius: 20px;
    transition-property: scale;
    transition-duration: 0.2s;
}

.popular-content-positions-item:hover {
    scale: 1.1;
}

.popular-content-positions-item-img {
    width: 274px;
    height: 231px;
}

.popular-content-positions-item-footer {
    width: 274px;
    height: 143px;
    padding-top: 14px;
    padding-left: 13px;
    background-color: #A2A2A2;
    border-radius: 0 0 20px 20px;
}

.popular-content-positions-item-footer-info {
    width: 261px;
    height: 66px;
    font-weight: 800;
    font-size: 26px;
    line-height: 32px;
    color: #0D0D0D;
    margin-bottom: 11px;
}

.popular-content-positions-item-footer-link {
    align-items: flex-end;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    width: 254px;
    height: 35px;
    border-width: 0 5px 5px 0;
    border-style: solid;
    border-color: #DE1616;
    border-radius: 0 0 16px 0;
    padding-left: 7px;
    padding-right: 4px;
}

.popular-content-positions-item-footer-link-text {
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
}

.popular-content-positions-item-footer-link-price {
    font-weight: 800;
    font-size: 28px;
    line-height: 28px;
    color: #0D0D0D;
}

.popular-content-btn {
    display: inline-flex;
    width: 226px;
    height: 64px;
    background-color: #0D0D0D;
    border-radius: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 8px;
    transition-property: width;
    transition-duration: 0.3s;
}

#button.down {
    width: 120px;
}

#button-svg{
    transition-property: transform;
    transition-duration: 0.5s;
}

#button-svg.down {
    transform: rotate(180deg);
}

.popular-extended {
    display: flex;
    align-items: center;
    flex-direction: column;
}



.popular-extended-content-positions {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 160px;
    padding-right: 160px;
    background: linear-gradient(270deg, #BC0101 54.11%, #280303 116.46%);
    width: 1550px;
    border-radius: 0 0 15px 15px;
}


.popular-extended-content-positions-item:nth-child(n-4) {
    margin-bottom: 40px;
}

.popular-extended-content-links {
    display: flex;
    width: 1550px;
    justify-content: center;
    margin-bottom: 40px;
}

.filter-btn {
    width: 298px;
    height: 64px;
    background: #0D0D0D;
    border-radius: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F1F1F1;
}

.gratitude {
    height: 160px;
    position: fixed;
    top: 360px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.gratitude-container{
    width: 813px;
    background-color: #A2A2A2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gratitude-text {
    font-weight: 800;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #F1F1F1;
}


