.create-container {
    padding-left: 120px;
    padding-right: 120px;
    background: linear-gradient(308.47deg, #BB0000 34.38%, #0B0B0B 73.49%);
    border-radius: 32px;
    padding-top: 33px;
    padding-bottom: 33px;
}

.create-header {
    height: 95px;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #F1F1F1;
}

.create-form {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.create-form-inputs {
    display: flex;
    flex-direction: column;
}

.create-form-input:not(:last-child) {
    margin-bottom: 16px;
}

.create-form-input {
    background: #D3D3D3;
    width: 1100px;
    border-radius: 12px;
    padding: 10px 100px 10px 10px;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.form-input-text {
    display: inline-block;
    margin-right: 10px;
}

input {
    transition-duration: 0.2s;
    transition-property: background;
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-radius: 8px;
    padding-left: 10px;
}

input:hover {
    background: #F5F5F5;
}


.create-form-btn{
    font-size: 20px;
    width: 150px;
    height: 40px;
}