.detail-container {
    width: 1550px;
    height: 541px;
    background: linear-gradient(308.47deg, #BB0000 34.38%, #0B0B0B 73.49%);
    border-radius: 32px;
    padding-left: 123px;
    padding-top: 12px;
}

.detail-header {
    width: 664px;
    height: 95px;
    font-weight: 800;
    font-size: 40px;
    line-height: 49px;
    color: #F1F1F1;
}

.detail-content {
    display: flex;
    flex-wrap: wrap;
}

.detail-content-img {
    width: 274px;
    height: 240px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.31) 0%, rgba(100, 100, 100, 0.31) 100%);
    border-radius: 20px;
    margin-right: 89px;
    margin-bottom: 33px;
}

.detail-content-info {
    display: flex;
    flex-wrap: wrap;
    /*flex-direction: column;*/
    width: 927px;
    margin-bottom: 33px;
}

.detail-content-info-item {
    display: flex;
    width: 425px;
    height: 31px;
    background: #D3D3D3;
    border-radius: 16px;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
}

.detail-content-info-item:nth-child(odd) {
    margin-right: 77px;
}

.detail-content-info-item-left {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    color: #0D0D0D;
}

.detail-content-info-item-right {
    font-weight: 600;
    font-size: 17px;
    line-height: 24px;
    text-align: right;
    color: #0D0D0D;
}

.detail-content-info-footer {
    width: 425px;
    height: 58px;
    background: #D3D3D3;
    border-radius: 16px;
    margin-left: 365px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
}

.detail-content-info-footer-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #0D0D0D;
}

#id_quantity {
    width: 50px;
    height: 26px;
    background: #F1F1F1;
    border-radius: 12px;
    outline: 0;
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    color: #0D0D0D;
    max-width: 100%;
    box-sizing: border-box;
    appearance: none;
}

#id_quantity::after {
    color: #F1F1F1;
}

#id_quantity::-ms-expand {
    display: none;
}

#id_quantity:hover {
    border-color: #888;
}

#id_quantity:focus {
    border: 0;
    color: #222;
    outline: none;
}

#id_quantity option {
    font-weight:normal;
}

.detail-content-info-footer-btn {
    width: 155px;
    height: 50px;
    background: #0D0D0D;
    border-radius: 16px;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #F1F1F1;
}