{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/basket_styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
{% block afternav %}


    <section class="basket-section">
        <div class="container basket-container">
            <h1 class="basket-header">{% trans 'Ваша корзина' %}</h1>
            <div class="basket-content">
                {% for item in basket %}
                    {% with videocard=item.videocard %}
                        <div class="basket-item">
                            <a href="{{ videocard.get_absolute_url }}">
                                <img src="{{ MEDIA_URL }}/{{ videocard.image }}" alt="" class="basket-item-img">
                            </a>
                            <h3 class="basket-item-name">{{ videocard.manufacturer }} {{ videocard.name }}</h3>
                            <h3 class="basket-item-info">{{ item.quantity }}x {{ item.price }} USD<br>{% trans 'Сумма' %}: {{ item.total_price }} USD</h3>
                            <form action="{% url 'basket_add_view' videocard.id %}" method="post" class="basket-item-form">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.update }}
                                <div class="basket-item-form-btns">
                                    <input type="submit" value="{% trans 'Обновить' %}" class="basket-item-btn btn">
                                    <a href="{% url 'basket_remove_view' videocard.id %}" class="basket-item-btn btn">{% trans 'Удалить' %}</a>
                                </div>
                                {% csrf_token %}
                            </form>
                        </div>
                    {% endwith %}
                {% endfor %}
                <div class="basket-content-footer">
                    <div class="basket-content-footer-left">
                        <p class="basket-content-footer-sum">{% trans 'Сумма заказа' %}: {{ basket.get_total_price }} USD</p>
                        <a href="{% url 'order_view' %}" class="basket-footer-content-purchase-btn btn">{% trans 'Оформить заказ' %}</a>
                    </div>
                    <a href="{% url 'main_view' %}" class="basket-content-footer-return-btn btn">{% trans 'Вернуться в магазин' %}</a>
                </div>
            </div>
        </div>
    </section>

{% endblock afternav %}
</body>
</html>