{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta charset="UTF-8">
        <title>Gratitude</title>
        <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
        <link rel="stylesheet" href="{% static 'styles/common_style.css' %}">
        <link rel="stylesheet" href="{% static 'styles/gratitude_style.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
    </head>
{% endblock head %}
<body>
    {% block afternav %}
        <section class="gratitude">
            <div class="container gratitude-container">
                <h1 class="gratitude-text">{% trans 'Спасибо за покупку' %}</h1>
                <a href="{% url 'main_view' %}" class="btn gratitude-btn">{% trans 'Вернуться на главную' %}</a>
            </div>
        </section>
    {% endblock afternav %}
</body>
</html>