{% extends 'main.html' %}
{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
{% block head %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'styles/reset.css' %}">
    <link rel="stylesheet" href="{% static 'styles/common_styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/order_style.css' %}?">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800&display=swap" rel="stylesheet">
</head>
{% endblock head %}
<body>
    {% block afternav %}
        <section class="form">
            <form class="form-container container" method="post" action="">
                {% csrf_token %}
                <div class="form-items">
                    <h3 class="form_header">{% trans 'Оформление заказа' %}</h3>
                     <div class="form-item">
                        <div class="form-item-left">{% trans 'Фамилия и имя' %}:</div>
                         <input type="text" value="{{ user.last_name }} {{ user.first_name }}" name="name_surname" class="form-input input-gray" placeholder="{% trans 'Фамилия и имя' %}" maxlength="50" required="" id="id_name_surname">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Телефон' %}:</div>
                        <input type="text" value="{{ user.profile.phone }}" name="phone" class="form-input input-gray" placeholder="{% trans 'Телефон' %}" maxlength="20" required="" id="id_phone">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">Email:</div>
                        <input type="text" value="{{ user.email }}" name="email" class="form-input input-gray" placeholder="Email" required="" id="id_email">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Город' %}:</div>
                        <input type="text" value="{{ user.profile.city }}" name="city" class="form-input input-gray" placeholder="{% trans 'Город' %}" maxlength="20" required="" id="id_city">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Улица' %}:</div>
                        <input type="text" value="{{ user.profile.street }}" name="street" class="form-input input-gray" placeholder="{% trans 'Улица' %}" maxlength="20" required="" id="id_city">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Корпус' %}:</div>
                        <input type="text" value="{{ user.profile.housing }}" name="housing" class="form-input input-gray" placeholder="{% trans 'Корпус' %}" maxlength="20" required="" id="id_city">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Дом' %}:</div>
                        <input type="text" value="{% if user.profile.house %}{{ user.profile.house }}{% else %}{% endif %}" name="house" class="form-input input-gray" placeholder="{% trans 'Дом' %}" maxlength="20" required="" id="id_city">
                    </div>
                    <div class="form-item">
                        <div class="form-item-left">{% trans 'Квартира' %}:</div>
                        <input type="text" value="{% if user.profile.apartment %}{{ user.profile.apartment }}{% else %}{% endif %}" name="apartment" class="form-input input-gray" placeholder="{% trans 'Квартира' %}" maxlength="20" required="" id="id_city">
                    </div>
                </div>
                <div class="form-right">
                    <div class="form-right-sum">{% trans 'Сумма заказа' %}: {{ total_sum }} USD</div>
                    <button class="form-right-btn btn-black">{% trans 'Оформить' %}</button>
                </div>
            </form>
        </section>
    {% endblock afternav %}
</body>
</html>